@import "tailwindcss";

@plugin "@tailwindcss/typography";
@config "../../tailwind.config.cjs";

@import "prismjs/themes/prism-okaidia.css";

@utility fancy-link {
  @apply relative no-underline;
  background: linear-gradient(
    to right,
    var(--color-purple-600) 50%,
    var(--color-purple-700) 50%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@utility fancy-link-on-hover {
  &:hover {
    @apply relative no-underline;
    background: linear-gradient(
      to right,
      var(--color-purple-600) 50%,
      var(--color-purple-700) 50%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@utility slanted-text {
  font-style: oblique 4deg;
}

@theme {
  --text-mega: 6rem;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--color-gray-400);
  }

  :not(h1, h2, h3, h4, h5, h6, pre, pre *, svg, svg *) {
    @apply text-gray-700 font-light;
  }

  input,
  textarea {
    @apply bg-white;
  }

  form input,
  form textarea {
    @apply border border-gray-300 rounded-xs w-full px-2 py-2 text-base;
  }

  label {
    @apply mb-2 inline-block;
  }
  /** global typography adjustments */

  blockquote {
    /* border-inline-start-width: .5rem !important; */
    padding-inline-start: 1.25rem !important;
  }

  .italic,
  em,
  i {
    font-style: italic;
  }

  * {
    letter-spacing: -0.025em;
  }

  h2 em {
    font-weight: inherit;
    color: inherit;
  }

  /**
    Used for italized subheadings in some pages. 
  */
  h2 + p > em:only-child {
    margin-top: -0.7em;
    /* display: block; */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-gray-700 font-medium;
  }

  @font-face {
    font-family: "Figtree Variable";
    font-style: normal;
    font-display: swap;
    font-weight: 300 900;
    src: url(@fontsource-variable/figtree/files/figtree-latin-wght-normal.woff2)
      format("woff2-variations");
    unicode-range:
      U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
      U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
      U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: "Figtree Variable";
    font-style: italic;
    font-display: swap;
    font-weight: 300 900;
    src: url(@fontsource-variable/figtree/files/figtree-latin-wght-italic.woff2)
      format("woff2-variations");
    unicode-range:
      U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
      U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
      U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  body {
    font-family: "Figtree Variable", sans-serif;
  }

  nav {
    grid-area: nav;
  }

  main {
    grid-area: main;
  }

  .password-wrapper {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .jc-CommentList-count * {
    @apply font-normal;
  }

  .button,
  .jc-CommentBox-button {
    --mm-box-shadow-color: var(--color-purple-500);

    transition:
      all 0.1s ease,
      hover 0.1s ease;
    transform: translateX(-2px);
    box-shadow: 4px 4px 0px var(--mm-box-shadow-color);
    @apply border-2 border-purple-500 text-purple-500 px-4 py-1 rounded-md;

    &:hover {
      cursor: pointer;
    }

    &:not(.button-no-hover):hover {
      transform: translate(2px, 2px);
      box-shadow: 2px 2px 0px var(--mm-box-shadow-color);
    }

    &:active {
      transform: translate(4px, 4px);
      box-shadow: 0px 0px 0px var(--mm-box-shadow-color);
    }
  }

  .jc-CommentBox-preview code[class^="language-"] {
    padding: 3px 6px;
    display: block;
  }

  .button.light {
    --mm-box-shadow-color: white;
    @apply bg-transparent border-white text-white rounded-md;
  }

  .button.submit {
    @apply rounded-xs;
  }

  .button.large {
    @apply text-2xl;
  }

  .button svg {
    stroke: white;
  }

  .card {
    @apply border-2 border-gray-200 rounded-lg p-6 md:p-8;
  }

  *:focus-visible {
    outline: var(--color-purple-500) auto 1px;
  }

  .prose {
    :not(h1, h2, h3, h4, h5, h6) > a {
      @apply fancy-link;
    }

    :not(h1, h2, h3, h4, h5, h6) > a:after {
      content: "";
      left: 0;
      bottom: 0;
      width: 100%;
      height: 0;
      display: block;
      position: absolute;
      background: var(--color-purple-500);
      transform: translateY(100%) skew(-5deg);
      transition: all 0.08s ease-out;
      @apply bg-gradient-to-r from-purple-500 to-purple-600;
    }

    :not(h1, h2, h3, h4, h5, h6) > a:hover:after {
      height: 0.2em;
    }
  }

  .pagefind-ui__button {
    @apply border-2 border-purple-500 rounded-xs px-4 py-1 text-lg hover:text-white hover:bg-purple-500 bg-white text-purple-500 transition-colors duration-200 cursor-pointer font-normal h-auto;
  }

  .pagefind-ui__result-title a {
    @apply font-semibold;
  }

  .pagefind-ui__result-excerpt {
    @apply font-light text-sm;
  }

  .shadow-box {
    @apply block border-2 p-5 md:p-6 rounded-md;
    transition:
      box-shadow 0.1s ease,
      hover 0.1s ease;
    box-shadow: 5px 5px 0px var(--color-gray-200);

    &.hoverable-shadow-box {
      &:hover {
        cursor: pointer;
        transform: translate(2px, 2px);
        box-shadow: 2px 2px 0px var(--mm-box-shadow-color);
      }
    }

    &.no-padding {
      padding: unset;
    }

    &.purple-shadow-box {
      @apply border-purple-600;
      box-shadow: 5px 5px 0px var(--color-purple-300);
    }
  }
}
