---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
---

<Layout title="Content Not Found" pageType="normal" description={"Not found!"}>
  <div class="text-center py-20">
    <div class="mb-10">
      <Logo text="404" fontSize="text-8xl" />
    </div>
    <p class="logo">Sorry, couldn't find that.</p>
  </div>
</Layout>
