---
import Layout from "../layouts/Layout.astro";

const payLink = import.meta.env.EM_DASH_PAY_LINK;
const buttonClass =
  "border-1 px-4 py-2 rounded-md cursor-pointer border-gray-800 flex items-center gap-2";
---

<Layout
  title="Copy the Perfect Em Dash"
  pageType="unhinged"
  showNav={false}
  openGraphImage="https://macarthur.me/em-dash.png"
  description="Copy the perfect em dash for $1. It's easier than trying to figure out the key combination."
>
  <div
    class="h-screen w-full content-center opacity-0 transition-opacity duration-700 delay-75"
    id="wrapper"
  >
    <div class="max-w-3xl mx-auto flex flex-col items-center">
      <div class="text-center max-w-3xl">
        <h1
          id="heading"
          class="leading-tight text-3xl sm:text-4xl md:text-5xl font-bold mb-4"
        >
          Copy the perfect <em class="text-inherit font-bold">em dash</em> for $1.
        </h1>

        <p id="subCopy" class="text-lg">
          It's easier than trying to figure out the key combination.
        </p>

        <ul class="flex justify-center gap-3 mt-4">
          <li>
            <button
              id="wutButton"
              class="immune cursor-pointer font-semibold hover:text-gray-500"
              >Wut</button
            >
          </li>
          <li>
            <button
              id="faqButton"
              class="immune cursor-pointer font-semibold hover:text-gray-500"
              >FAQ</button
            >
          </li>
        </ul>
      </div>

      <span
        id="emDash"
        class="mx-auto mt-6 mb-8 max-w-xl flex justify-center text-inherit text-8xl font-black select-none italic opacity-30"
      >
        &mdash;
      </span>

      <a href={payLink} id="payButton" class={buttonClass}>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Z"
          ></path>
        </svg>

        Pay to Unlock
      </a>

      <button id="copyButton" class={buttonClass}>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184"
          ></path>
        </svg>

        Copy the Em Dash
      </button>

      <span
        id="unsupportedText"
        class="hidden max-w-sm text-center text-red-800 mt-8"
      >
        <strong class="text-inherit font-semibold"
          >Your browser doesn't support copying to the clipboard!</strong
        > You'll have to do it like the pilgrims did.
      </span>
    </div>
  </div>

  <div
    id="modal"
    class="hidden fixed z-10 top-0 left-0 w-full h-full place-content-center bg-white p-4"
  >
    <button
      id="closeButton"
      class="immune absolute top-4 right-4 cursor-pointer"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-12"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
        ></path>
      </svg>
    </button>

    <div
      class="hidden max-w-lg mx-auto mt-8 border-1 rounded-md border-gray-800 p-8"
      id="faqContent"
    >
      <h2 class="text-center text-xl mb-6">Frequently Asked Questions</h2>

      <ul class="flex flex-col gap-5">
        <li>
          <h3>Are you serious?</h3>
          <p>Good, accessible grammer is always serious.</p>
        </li>

        <li>
          <h3>Is there a refund policy?</h3>
          <p>No.</p>
        </li>

        <li>
          <h3>How many times can I copy the em dash?</h3>
          <p>
            As many times as you want, but only on one device. To copy it from a
            different device, you owe me another dollar.
          </p>
        </li>
      </ul>
    </div>

    <div
      class="hidden max-w-lg mx-auto mt-8 border-1 rounded-md border-gray-800 p-8"
      id="wutContent"
    >
      <h2 class="text-center text-xl mb-6">Wut</h2>

      <p class="mb-5">
        The em dash has endured an onslaught of defamation the past couple of
        years. It's nearly impossible for the poor guy to bless a sentence
        without getting accused of being written by an LLM.
      </p>

      <p class="mb-5">
        It desperately needs revival, and that begins with accessibility. To
        that end, I've launched this premium tool for easily loading the perfect
        em dash into your clipboard for convenient use.
      </p>

      <p class="mb-5">
        This ain't some charity — it's a holy undertaking, and that requires
        cash. But I'm no money-hungry grifter, so I've priced this tool
        generously low. Just make sure you're prepared to buy because no one's
        getting a refund.
      </p>

      <p>
        To using English good, <br />
        Alex
      </p>
    </div>
  </div>
</Layout>

<footer class="fixed bottom-0 left-0 w-full">
  <div class="max-w-3xl mx-auto flex flex-col items-center">
    <p class="text-center text-sm mt-8 mb-4">
      A product from <a
        href="https://macarthur.me"
        target="_blank"
        class="font-semibold"
        rel="noopener noreferrer">Alex MacArthur.</a
      >
    </p>
  </div>
</footer>

<script>
  import { sendEvent } from "../utils";
  import confetti from "canvas-confetti";

  const localStorageKey = "macarthur-me-em-dash";
  const heading = document.getElementById("heading") as HTMLHeadingElement;
  const closeButton = document.getElementById(
    "closeButton",
  ) as HTMLButtonElement;
  const copyButton = document.getElementById("copyButton") as HTMLButtonElement;
  const unsupportedText = document.getElementById(
    "unsupportedText",
  ) as HTMLSpanElement;
  const wutButton = document.getElementById("wutButton") as HTMLButtonElement;
  const modal = document.getElementById("modal") as HTMLDivElement;
  const faqButton = document.getElementById("faqButton") as HTMLButtonElement;
  const subCopy = document.getElementById("subCopy") as HTMLSpanElement;
  const emDash = document.getElementById("emDash") as HTMLSpanElement;
  const wrapper = document.getElementById("wrapper") as HTMLDivElement;

  let timeout;

  function isValidSuccessId() {
    return /^cs_*./.test(getSuccessId());
  }

  function canCopy() {
    return (
      isValidSuccessId() ||
      new URLSearchParams(window.location.search).get("canCopy") === "true"
    );
  }

  function clipboardIsSupported() {
    return navigator.clipboard && navigator.clipboard.writeText;
  }

  function getSuccessId(): string {
    return (
      new URLSearchParams(window.location.search).get("success_id") ||
      window.localStorage.getItem(localStorageKey) ||
      ""
    );
  }

  async function handleCopy(e) {
    sendEvent("copy_em_dash", {
      checkoutSessionId: getSuccessId(),
    });

    await navigator.clipboard.writeText("—");

    const button = e.target;

    button.innerText = "You did it! It's copied!";

    clearTimeout(timeout);

    timeout = setTimeout(() => {
      button.innerHTML = "Copy the Em Dash";
    }, 2000);
  }

  copyButton.addEventListener("click", handleCopy);

  modal.addEventListener("click", (e) => {
    if (e.target === modal) {
      modal.classList.add("hidden");
      modal.classList.remove("faq", "wut");
    }
  });

  window.addEventListener("keyup", (e) => {
    if (e.key === "Escape") {
      modal.classList.add("hidden");
      modal.classList.remove("faq", "wut");
    }
  });

  closeButton.addEventListener("click", (e) => {
    modal.classList.add("hidden");
    modal.classList.remove("faq", "wut");
  });

  faqButton.addEventListener("click", () => {
    modal.classList.remove("hidden");
    modal.classList.add("faq");
  });

  wutButton.addEventListener("click", () => {
    modal.classList.remove("hidden");
    modal.classList.add("wut");
  });

  if (!clipboardIsSupported()) {
    unsupportedText.classList.remove("hidden");
    copyButton.classList.add("disabled");
  }

  if (canCopy()) {
    if (!window.localStorage.getItem(localStorageKey)) {
      confetti({
        particleCount: 100,
        spread: 70,
        origin: { y: 0.6 },
      });
    }

    heading.innerHTML =
      "Congratulations! <br />You've unlocked the <em class='font-bold inline-block'>em dash</em>!";
    subCopy.innerHTML = "Click to copy below. Wield with care.";
    emDash.classList.remove("select-none");
    wrapper.classList.add("can-copy");
    emDash.classList.remove("opacity-30");
    window.localStorage.setItem(localStorageKey, getSuccessId());
  }

  requestAnimationFrame(() => {
    requestAnimationFrame(() => {
      wrapper.classList.remove("opacity-0");
    });
  });
</script>

<style>
  html,
  body,
  body > div,
  body main {
    min-height: 100vh;
    padding: 0;
  }

  button.disabled {
    cursor: not-allowed;
    pointer-events: none;
    border-color: var(--color-gray-400);
    color: var(--color-gray-400);
  }

  button:not(.immune):hover,
  a:not(footer a):hover {
    background-color: var(--color-gray-800);
    color: var(--color-gray-100);
  }

  #copyButton {
    display: none;
  }

  #wrapper.can-copy {
    #copyButton {
      display: flex;
    }

    #payButton {
      display: none;
    }
  }

  #modal.faq {
    #faqContent {
      display: block;
    }
  }

  #modal.wut {
    #wutContent {
      display: block;
    }
  }
</style>
