---
import PicPerfImage from "@picperf/astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Content Not Found" pageType="narrow" shouldIndexForSearch={false}>
  <div class="text-center py-20">

    <PicPerfImage
    src="/test-images/sea.jpg"
    ></PicPerfImage>

    <br />

    <PicPerfImage
    src="/test-images/hoop.jpg"
    ></PicPerfImage>

    <script defer src="https://unpkg.com/@picperf/client@1.0.0/dist/picperf.js"></script>

  </div>
</Layout>
