---
import GradientText from "../components/GradientText.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="I'm Alex MacArthur">
  <div class="grid place-items-center h-full p-6">
    <div class="mt-16 md:mt-32">
      <GradientText>
        <h1 class="text-4xl md:text-5xl lg:text-mega font-light mb-2">
          I'm Alex MacArthur,
        </h1>
      </GradientText>
      <span class="block -mt-4 md:-mt-6 leading-tight text-md md:text-xl"
        >a sofware engineer bossing around computers in made-up languages.</span
      >
    </div>
  </div>
</Layout>
