---
import SignupForm from "../components/SignupForm.astro";
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Newsletter"
  description={"Join ones and ones of others to get irregular emails about new blog posts and projects."}
  pageType="normal"
>
  <div class="grid grid-cols-1 md:grid-cols-5 gap-4 md:gap-8">
    <div class="md:col-span-3">
      <Title>My Newsletter</Title>

      <div class="prose lg:prose-lg">
        <p>
          I occassionally send out emails about new blog posts and projects I'm
          tinkering with. If you'd like to join ones and ones of other people
          who've already signed up, do it here.
        </p>
      </div>
    </div>

    <div class="md:col-span-2 mt-8">
      <SignupForm
        heading={"I'm moderately confident you won't regret it."}
        description={"Powered by Ghost. Unsubscribe at any time, obviously."}
      />
    </div>
  </div>
</Layout>
