---
import { Image } from '@astrojs/image/components';

---

<div class="flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-6 mt-16">
  <div class="flex-none w-20 md:w-24 flex items-center justify-center md:justify-start">
    <img src="/avatar.jpg" alt="my face" width="80" height="80" class="rounded w-16 md:w-20" loading="lazy" />
  </div>

  <div class="-mt-1">
    <p class="prose text-center md:text-left">
      Alex MacArthur is a software developer working for Dave Ramsey in
      Nashville, TN. Soli Deo gloria.
    </p>
  </div>
</div>
