---
import ArrowSmallRight from "astro-heroicons/outline/ArrowSmallRight.astro";

export interface Props {
  href: string;
  withArrow?: boolean;
  target: string;
  linkId?: string;
  asButton?: boolean;
}

const {
  href,
  linkId = null,
  withArrow = false,
  target = "_self",
  asButton = false,
} = Astro.props;
---

<a
  class={`text-purple-500 hover:text-purple-400 inline-flex items-center gap-1 p-2 -m-2 ${
    asButton ? "button" : ""
  }`}
  href={href}
  data-link-id={linkId}
  target={target}
>
  <slot />

  {withArrow && <ArrowSmallRight class="h-4" />}
</a>

<style>
  svg {
    stroke: theme("colors.purple.500");
  }

  a:hover svg {
    stroke: theme("colors.purple.400");
  }
</style>
