---
import ArrowSmallRight from "astro-heroicons/outline/ArrowSmallRight.astro";
import ArrowTopRightOnSquare from "astro-heroicons/outline/ArrowTopRightOnSquare.astro";

export interface Props {
  href: string;
  withArrow?: boolean;
  target?: string;
  linkId?: string;
  asButton?: boolean;
  classes?: string;
}

const {
  href,
  linkId = null,
  withArrow = false,
  target = "_self",
  asButton = false,
  classes = "",
} = Astro.props;
---

<a
  class={`fancy-link inline-flex items-center gap-2 p-2 -m-2 ${
    asButton ? "button" : ""
  } ${classes}`}
  href={href}
  data-link-id={linkId}
  target={target}
>
  <slot />

  {target === "_blank" && <ArrowTopRightOnSquare class="h-4" />}

  {target !== "_blank" && withArrow && <ArrowSmallRight class="h-4" />}
</a>

<style>
  svg {
    stroke: theme("colors.purple.500");
  }

  a:hover svg {
    stroke: theme("colors.purple.400");
  }
</style>
