---
import ArrowSmallRight from "astro-heroicons/outline/ArrowSmallRight.astro";
import ArrowSmallLeft from "astro-heroicons/outline/ArrowSmallLeft.astro";
import ArrowTopRightOnSquare from "astro-heroicons/outline/ArrowTopRightOnSquare.astro";

export interface Props {
  href: string;
  withArrow?: boolean;
  arrowDirection?: "left" | "right";
  target?: string;
  linkId?: string;
  asButton?: boolean;
  classes?: string;
}

const {
  href,
  linkId = null,
  withArrow = false,
  arrowDirection = "right",
  target = "_self",
  asButton = false,
  classes = "",
} = Astro.props;
---

<a
  class={`inline-flex items-center gap-2 p-2 -m-2 ${
    asButton ? "button" : "fancy-link"
  } ${classes}`}
  href={href}
  data-link-id={linkId}
  target={target}>
  {
    target !== "_blank" && withArrow && arrowDirection === "left" && (
      <ArrowSmallLeft class="h-4" />
    )
  }

  <slot />

  {target === "_blank" && <ArrowTopRightOnSquare class="h-4" />}

  {
    target !== "_blank" && withArrow && arrowDirection === "right" && (
      <ArrowSmallRight class="h-4" />
    )
  }
</a>

<style>
  a:hover svg {
    stroke: theme("colors.purple.400");
  }

  .fancy-link svg {
    stroke: theme("colors.purple.600");
  }

  .fancy-link:hover svg {
    stroke: theme("colors.purple.600");
  }
</style>
