<div id="carbon-wrapper">
  <script
    async
    is:inline
    type="text/javascript"
    src="//cdn.carbonads.com/carbon.js?serve=CWYIV2QW&placement=macarthurme&format=cover"
    ;
    id="_carbonads_js"></script>
</div>

<style is:global>
  #carbonads {
    @apply my-8;

    * {
      color: unset;
      font-weight: unset;
    }

    /* @apply w-full flex justify-center;

    @media screen(md) {
      @apply mt-8;
    } */

    /* @media screen(lg) {
      @apply fixed z-10 bottom-4 right-4 box-content p-2 mt-0;
      max-width: 175px;
    } */
  }
</style>
