---
export interface Props {
  classes?: string;
  value?: string;
  disableAnimation?: boolean;
}

const { classes = "", value = "0", disableAnimation = false } = Astro.props;
const formattedValue = value.replace(/\,/g, "");
---

<span
  class={classes}
  data-counter-value={formattedValue}
  data-counter-disabled={disableAnimation}
>
  { disableAnimation ? value : "-"}
</span>

<script>
  import "../scripts/counter.ts";
</script>

