---
const { date, className = "" } = Astro.props;

const prettyDate = new Date(date).toLocaleDateString("en-US", {
  month: "short",
  day: "numeric",
  year: "numeric",
});
---

<span class:list={["text-sm", "text-gray-500", className]}>
  <slot />

  <time datetime={date} class="text-inherit">
    {prettyDate}
  </time>
</span>
