---
---

<span
  class="block z-30 text-gray-800 left-0 top-0 font-extrabold p-0 pb-2 gradient-text"
>
  <slot />
</span>

<style>
  .gradient-text {
    background: linear-gradient(
      to bottom right,
      theme("colors.gray.700") 50%,
      theme("colors.gray.500") 50%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rotateGradient 1s cubic-bezier(0.42, 0, 0.58, 1) forwards;
    background-size: 100% 150%;
  }

  @keyframes rotateGradient {
    from {
      background-position: bottom right;
    }

    to {
      background-position: top left;
    }
  }
</style>
