<span class="text-3xl font-black logo slanted-text">
  AM
</span>

<style>
  .logo {
    color: white;
    letter-spacing: -.05em;
    text-shadow: .075em .075em 0px theme('colors.gray.800'), -.075em -.075em 0px theme('colors.gray.800');
    transition: all .075s ease-out;

    &:hover {
      text-shadow: .075em .075em 0px theme('colors.purple.600'), -.075em -.075em 0px theme('colors.purple.600');
    }
  }
</style>
