<span class="text-3xl font-black logo slanted-text">AM</span>

<style>
  .logo {
    color: white;
    letter-spacing: -0.05em;
    text-shadow: 0.075em 0.075em 0px theme("colors.gray.800"),
      -0.075em -0.075em 0px theme("colors.gray.800");
    transition: all 0.075s ease-out;

    &:hover {
      text-shadow: 0.075em 0.075em 0px theme("colors.purple.700"),
        -0.075em -0.075em 0px theme("colors.purple.600");
    }
  }
</style>
