---
import GradientText from "./GradientText.astro";
import MenuToggle from "./MenuToggle.astro";

const navItems = [
  {
    name: "About",
    href: "/about",
  },
  {
    name: "Posts",
    href: "/posts",
  },
  {
    name: "Projects",
    href: "/projects",
  },
  {
    name: "Dashboard",
    href: "/dashboard",
  },
  {
    name: "Contact",
    href: "/contact",
  },
];
---

<nav class="p-6 flex justify-between">
  <GradientText>
    <a href="/">AM</a>
  </GradientText>

  <ul class="gap-6 items-center hidden md:flex">
    {
      navItems.map((item) => (
        <li class="">
          <a
            href={item.href}
            class="text-gray-600 hover:text-gray-800 font-light"
          >
            {item.name}
          </a>
        </li>
      ))
    }
  </ul>

  <input
    id="menuToggle"
    type="checkbox"
    aria-hidden="true"
    class="absolute opacity-0 md:hidden -z-10"
  />

  <div
    class="md:hidden flex items-center opacity-0 w-full h-screen bg-gray-700 -z-10 fixed top-0 left-0 -translate-x-full px-8"
    id="mobileNav"
  >
    <ul class="gap-1 flex flex-col">
      {
        navItems.map((item) => (
          <li class="">
            <a href={item.href} class="text-white text-6xl font-bold">
              {item.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>

  <label
    class="cursor-pointer z-50 md:hidden absolute top-[2.15rem] right-0 mr-6"
    for="menuToggle"
    id="menuToggleLabel"
  >
    <MenuToggle />
  </label>
</nav>

<style is:global>
  #mobileNav {
    transition: transform 0.15s ease-in-out, opacity 0.1s ease-in-out 0.05s;
  }
  #menuToggle:checked ~ #mobileNav {
    @apply opacity-100 translate-x-0 z-50;
  }

  #menuToggle:checked ~ #menuToggleLabel li {
    @apply bg-white;
  }

  #menuToggle:checked ~ #menuToggleLabel {
    @apply fixed;
  }

  #menuToggle:checked ~ #menuToggleLabel .menu-bar-1 {
    transform: translate3d(0, 1rem, 0) rotate(-45deg);
  }

  #menuToggle:checked ~ #menuToggleLabel .menu-bar-2 {
    @apply opacity-0;
  }

  #menuToggle:checked ~ #menuToggleLabel .menu-bar-3 {
    transform: translate3d(0, -1rem, 0) rotate(45deg);
  }
</style>
