---
import NewsletterForm from './NewsletterForm.astro';

export interface Props {
  heading?: string;
  description?: string;
  isHorizontal?: boolean;
}

const {
  heading = "Get irregular emails about new posts or projects.",
  description = "No spam. Unsubscribe whenever. Won't be hurt when you do.",
  isHorizontal = false,
} = Astro.props;
---

<div
  class={`bg-gradient-to-br from-purple-600 to-purple-600 p-6 shadow-box purple-shadow-box w-full ${
    isHorizontal ? "grid md:grid-cols-5 gap-6 py-11" : ""
  }`}>
  <div class={`${isHorizontal ? "mb-0" : "mb-5"} md:col-span-3`}>
    <p class="text-white mb-3 font-semibold">
      {heading}
    </p>
    <span class="text-purple-200 leading-snug block">
      {description}
    </span>
  </div>

  <NewsletterForm isHorizontal={isHorizontal} />
</div>
