---
const { cssClass = "" } = Astro.props;
---

<a class={cssClass} href="/ai">
  <small class="text-gray-400 fancy-link-on-hover">
    All content organically sourced from my brain. Not an LLM.
  </small>
</a>
