---
import { isExternal } from "util/types";
import contentService, { extractHostFromUrl } from "../lib/ContentService";

const { post } = Astro.props;

const related = await contentService.getRelatedPosts(post);
---

{
  related ? (
    <section class="mb-12">
      <h5 class="text-xl md:text-2xl font-semibold slanted-text mb-5">
        Hopefully At Least Marginally Related Posts
      </h5>

      <ul class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        {related.map((relatedPost) => {
          const external = isExternal(relatedPost.url);

          return (
            <li class="grid">
              <a class="shadow-box hoverable-shadow-box" href={relatedPost.url}>
                <h6 class="font-light break-words text-md">
                  {relatedPost.title}
                </h6>
              </a>
            </li>
          );
        })}
      </ul>
    </section>
  ) : null
}
