---
import GradientText from "./GradientText.astro";
import { twMerge } from "tailwind-merge";

export interface Props {
  headingClasses?: string;
  subtitle?: string | null;
  bottomSpacingClasses?: string;
}

const {
  headingClasses = "",
  subtitle = "",
  bottomSpacingClasses = "",
} = Astro.props;

const defaultHeadingClasses =
  "text-4xl md:text-6xl font-extrabold block md:leading-[1.10]";
const defaultBottomSpacingClasses = "pb-2 mb-2 md:mb-6";

const mergedClasses = twMerge(
  defaultHeadingClasses,
  defaultBottomSpacingClasses,
  headingClasses,
  bottomSpacingClasses,
);
---

<div class="">
  <h1 class={mergedClasses}>
    <GradientText>
      <slot />
    </GradientText>
  </h1>

  {
    subtitle && (
      <span class="font-light text-base md:text-lg italic text-gray-500 mb-4 -mt-5 block">
        {subtitle}
      </span>
    )
  }
</div>
