---
import GradientText from "./GradientText.astro";

export interface Props {
  headingClasses?: string;
  transitionName?: string;
  subtitle?: string | null;
}

const {
  headingClasses = "text-4xl md:text-6xl",
  subtitle = "",
  transitionName = "",
} = Astro.props;
---

<div class="">
  <h1
    class={`${headingClasses} font-extrabold pb-2 block mb-2 md:mb-5`}
    transition:name={transitionName}>
    <GradientText>
      <slot />
    </GradientText>
  </h1>

  {
    subtitle && (
      <span class="font-light text-base md:text-lg italic text-gray-500 mb-4 -mt-5 block">
        {subtitle}
      </span>
    )
  }
</div>
