---
import GradientText from "./GradientText.astro";

---

<h1 class="text-4xl md:text-6xl font-extrabold pb-2 gradient-text inline-block leading-none mb-2 md:mb-6">
  <GradientText>
    <slot />
  </GradientText>
</h1>
