---
import Eye from "astro-heroicons/outline/Eye.astro";
import Counter from "./Counter.astro";

export interface Props {
  value: string;
  disableAnimation?: boolean;
}

const { value, disableAnimation = false } = Astro.props;
---

<span
  title={`${value} page views`}
  class="flex items-center gap-0.5 text-gray-500 text-sm">
  <Eye class="h-4 w-4 text-blue" />

  <span class="text-gray-500 text-sm">
    {
      !value ? (
        "-"
      ) : (
        <Counter
          classes="text-inherit"
          value={value}
          disableAnimation={disableAnimation}
        />
      )
    }
  </span>
</span>

<style>
  svg {
    stroke: theme("colors.gray.500");
  }
</style>
