---
import Counter from "./Counter.astro";
import Eye from 'astro-heroicons/outline/Eye.astro';

export interface Props {
  count: string;
  disableAnimation?: boolean;
  slug: string;
}

const { value, disableAnimation = false, slug } = Astro.props;
---

<span
  data-view-count-slug={slug}
  title={`${value} analytics views`}
  class="flex items-center gap-0.5 text-gray-500 text-sm"
>
  <Eye class="h-4 w-4 text-blue" />

  <span class="text-gray-500 text-sm" data-view-count-stat>
    {!value ? (
      "-"
    ) : (
      <Counter
        classes="text-inherit"
        value={value}
        disableAnimation={disableAnimation}
      />
    )}
  </span>
</span>

<script>
  import "../scripts/analytics.js";
</script>

<style>
  svg {
    stroke: theme('colors.gray.500');
  }
</style>
