---
import Nav from '../components/Nav.astro';
import { getCurrentPath } from '../utils';

export interface Props {
	title: string;
  pageType?: `narrow` | `normal` | 'open';
}

const { title, pageType = 'open' } = Astro.props;
const mainClass = (() => {
  switch (pageType) {
    case 'narrow':
      return 'max-w-screen-sm';
    case 'normal':
      return 'max-w-screen-md';
    default:
      return '';
  }
})();

const currentPath = getCurrentPath(Astro);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
    <Nav />
    <main class={`px-4 md:px-6 mx-auto w-full ${mainClass}`}>
		  <slot />
    </main>

    { currentPath !== '/' &&
      <footer class="px-4 md:px-6 py-6 flex justify-center items-center">
        &copy; {new Date().getFullYear()} Alex MacArthur
      </footer>
    }
	</body>
</html>

<script>
  import { listen } from "quicklink";

  listen();
</script>

<style is:global>
  * {
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-gray-800;
  }

  :not(h1, h2, h3, h4, h5, h6) {
    @apply text-gray-600 font-light;
  }

  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        'nav'
        'main';
    height: 100vh;
  }

  nav {
    grid-area: nav;
  }

  main {
    grid-area: main;
  }

  form input, form textarea {
    @apply border border-gray-300 rounded-sm w-full px-2 py-2 text-base;
  }

  label {
    @apply mb-2 inline-block;
  }

  .password-wrapper {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .button {
    @apply border-2 text-lg border-purple-500 rounded-3xl px-5 py-1 bg-purple-500 text-white hover:bg-white hover:text-purple-500 transition-colors duration-200;
  }
</style>
