---
import Nav from '../components/Nav.astro';

export interface Props {
	title: string;
  pageType?: `narrow` | `normal` | 'open';
}

const { title, pageType = 'open' } = Astro.props;
const mainClass = (() => {
  switch (pageType) {
    case 'narrow':
      return 'max-w-screen-sm';
    case 'normal':
      return 'max-w-screen-md';
    default:
      return '';
  }
})();
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
    <Nav />
    <main class={`px-4 md:px-6 mx-auto w-full ${mainClass}`}>
		  <slot />
    </main>
    <footer class="px-4 md:px-6 py-6">

    </footer>
	</body>
</html>

<script>
  import { listen } from "quicklink";

  listen();
</script>

<style is:global>
  * {
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-gray-800;
  }

  :not(h1, h2, h3, h4, h5, h6) {
    @apply text-gray-600 font-light;
  }

  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        'nav'
        'main';
    height: 100vh;
  }

  nav {
    grid-area: nav;
  }

  main {
    grid-area: main;
  }
</style>
