---
import type { Page } from "astro";
import Title from "../components/Title.astro";
import Layout from "./Layout.astro";
import PostList from "../components/PostList.astro";
import Pagination from "../components/Pagination.astro";
import type { GhostPost } from "../types/types";

export interface Props {
  page: Partial<Page<GhostPost>>;
}

const { page } = Astro.props;
---

<Layout title="Posts" pageType="normal">
  <Title>Posts</Title>

  <PostList posts={page.data} />

  <Pagination
    totalPages={page.lastPage as number}
    currentPage={page.currentPage as number}
    nextUrl={(page.url as Page["url"]).next}
    prevUrl={(page.url as Page["url"]).prev}
  />
</Layout>
