---
import Title from "../components/Title.astro";
import Layout from "./Layout.astro";
import Pagination from "../components/Pagination.astro";
import type { PaginatedList } from "../types/types";
import ScratchList from "../components/ScratchList.astro";

export interface Props {
  page: PaginatedList;
}

const { page } = Astro.props;
---

<Layout title="Scratchpad" pageType="normal">
  <Title>Scratchpad</Title>

  <ScratchList posts={page.data} />

  <Pagination
    totalPages={page.lastPage as number}
    currentPage={page.currentPage as number}
    nextUrl={(page.url).next}
    prevUrl={(page.url).prev}
  />
</Layout>
