---
import Title from "../components/Title.astro";
import Layout from "./Layout.astro";
import Pagination from "../components/Pagination.astro";
import type { PaginatedList } from "../types/types";
import ScrapList from "../components/ScrapList.astro";

export interface Props {
  page: PaginatedList;
}

const { page } = Astro.props;
---

<Layout title="Scraps" pageType="narrow">
  <Title>Scraps</Title>

  <ScrapList posts={page.data} />

  <Pagination
    totalPages={page.lastPage as number}
    currentPage={page.currentPage as number}
    nextUrl={(page.url).next}
    prevUrl={(page.url).prev}
  />
</Layout>
