---
import type { Page } from "astro";
import Title from "../components/Title.astro";
import Layout from "./Layout.astro";
import Pagination from "../components/Pagination.astro";
import type { CustomPostOrPage, GhostPost } from "../types/types";
import ScratchList from "../components/ScratchList.astro";

export interface Props {
  page: any
}

const { page } = Astro.props;
---

<Layout title="Posts" pageType="normal">
  <Title>Scratchpad</Title>

  <ScratchList posts={page.data} />

  <Pagination
    totalPages={page.lastPage as number}
    currentPage={page.currentPage as number}
    nextUrl={(page.url as Page["url"]).next}
    prevUrl={(page.url as Page["url"]).prev}
  />
</Layout>
